/* Палитра */
:root{
  --hover-color: #2196F3;
;
}


/* Логотип*/
.logo:hover, :focus{
  color: var(--hover-color);
}

.logo-part{
    color:#000000;
}
.icon-logo{
  color:var(--hover-color);
  text-decoration: none;
font-family: Raleway, sans-serif; 
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;


letter-spacing: 0.03em;
}
/* Головна навігація */
.nav-list{
  list-style: none;

}
.nav-list:hover, :focus{
  color: var(--hover-color);}
  .link{
    text-decoration: none;
  }

.contacts{
  list-style: none;
}

